.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  
}
  
  .links {
    display: flex;
    margin-left: 110px;
  }
  a {
    text-decoration: none;
  }
  
  .link {
    padding: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    
  }

  .links .link a {
    color: black;
    text-decoration: none;
  }
  
  .link:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  .link:last-child {
   
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  .links .link a:hover {
    color: rgb(59, 59, 255);

  }
  
  .logout button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    padding: 0 20px;
    font-size: 16px;
    background-color: transparent;
    color: #070707;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 130px;
  }
  
  .logout button:hover {
    background-color: #f2f2f2;
  }
  
  .logout button i {
    margin-right: 10px;
  }

  
  
